@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Indy Rooftop Hockey League</h1>
    <p class="lead">Welcome to Indy's ONLY rooftop dek hockey rink. All you need is a good pair of athletic shoes. We have the rink, the sticks, and the pucks.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">About IRHL &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>How To Join</h2>
        <p>
            Interested in playing some dek hockey stories above(ok 3 stories above) Indy's Near Eastside?'
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Fall Schedule</h2>
        <p>See when we are playing next, or if you lost your schedule it's right here you knucklehead!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Schedule &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Team Standings</h2>
        <p>See how far your team wen down in the standings after that commisioner blew that call this week.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Standings &raquo;</a></p>
    </div>
</div>